@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Raleway;
  position: relative;
}

#header {
  background: linear-gradient(297.03deg, #3db3b9 42.35%, #1b5053 42.43%);
}

.header hr {
  margin-top: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  position: relative;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger i {
  color: white;
  font-size: 1.5rem;
}

header img {
  width: 150px;
}

.links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(161, 228, 225, 1);
  height: 100vh;
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  display: none;
}

.links ul li {
  padding: 10px;
}

.links ul li:hover {
  background: rgb(70, 186, 205);
}

.show-menu {
  display: block;
}

.links a {
  text-decoration: none;
}

.links button {
  color: white;
  font-size: 42px;
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
}

.links ul {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.nav li {
  font-size: 15px;
}

ul a {
  text-decoration: none;
  color: black;
}

.ref {
  padding: 10px;
  background: rgba(7, 17, 77, 1);
  color: white;
  border-radius: 5px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main h2 {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
}

.start {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 20px;
}

.trans {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-left: 120px;
  width: 70%;
}

.trans p {
  font-weight: 400;
  font-size: 18px;
}

.start a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  background: rgba(161, 228, 225, 1);
  text-wrap: nowrap;
}

.cloud {
  color: rgba(70, 186, 205, 1);
  font-weight: 700;
  font-size: 44px;
}

.vr {
  width: 80%;
}

.vr img {
  width: 100%;
}

.about {
  background-color: rgba(10, 20, 66, 1);
  background-image: url("img/blogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  padding: 2.5rem;
}
.about p {
  color: white;
  padding: 2rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  line-height: 1.5rem;
}

.choose {
  background: rgba(0, 122, 255, 0.15);
}

.choose h2 {
  color: rgba(10, 20, 66, 1);
  width: 90%;
  margin: 0 auto;
  /* margin-top: 1rem; */
  padding-top: 1rem;
}
.reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 1rem;
}
.det {
  text-align: center;
}

.reasons h3 {
  color: rgba(10, 20, 66, 1);
}
.reasons div {
  border-radius: 5px;
  background: var(--Colors-Mint, rgba(0, 199, 190, 1));
  width: 80%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.reasons div p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.reasons div img {
  width: 45px;
  margin-left: 30px;
  margin-top: 20px;
}

.orientation {
  background: rgba(9, 21, 71, 1);
}
.co {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.left {
  width: 30%;
}

.left img {
  width: 100%;
  margin-top: 3rem;
}

.right {
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.right h3 {
  font-size: 2.3rem;
  font-weight: 700;
}
.right p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.right span {
  color: rgba(72, 180, 215, 1);
  font-size: 16px;
  font-weight: 600;
}

#courses {
  padding: 40px;
}

#courses h1 {
  text-align: center;
  position: relative;
}
#courses h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: var(--Colors-Mint, rgba(0, 199, 190, 1));
  margin: 10px auto 0;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: -5;
}

.line {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.course {
  display: flex;
  width: 60%;
  align-items: center;
  gap: 20px;
}

/* .frame {
  width: 25%;
} */

.front-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 1);
}

.front-end p {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img {
  width: 100%;
}

.front-end h3 {
  color: rgba(10, 20, 66, 1);
  padding: 10px;
}
.img img {
  width: 100%;
}

.view {
  padding: 10px;
  text-align: center;
  background: rgba(68, 201, 196, 1);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.learning {
  background: rgba(9, 21, 71, 1);
  /* display:flex; */
  padding: 20px;
}
.learning h1 {
  text-align: center;
  position: relative;
  color: white;
}
.learning h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: var(--Colors-Mint, rgba(0, 199, 190, 1));
  margin: 10px auto 0;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 45%;
  /* z-index: -5; */
}

.cover {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.cover div {
  width: 45%;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cover div img {
  width: 100%;
}

.classes {
  display: inline;
}

.classes p {
  padding: 20px;
  line-height: 1.5em;
}

.admission {
  background-image: url("img/wallpaper.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro h1 {
  color: white;
}

.pro img {
  width: 100px;
  margin-right: 20px;
  margin-top: 20px;
}

.process {
  border: 5px solid rgba(9, 21, 71, 1);
  display: flex;
  gap: 20px;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 90%;
  margin: 0 auto;
  border-radius: 16px;
}

.list {
  padding-left: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.types {
  display: flex;
  gap: 30px;
  align-items: start;
}

.types img {
  width: 30px;
}

.ex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.girl {
  width: 40%;
}

.girl img {
  width: 100%;
}

.fees {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fees h1 {
  text-align: center;
  position: relative;
  color: rgba(9, 21, 71, 1);
  margin-top: 20px;
}
.fees h1::after {
  content: "";
  display: block;
  width: 369px;
  height: 4px;
  background: var(--Colors-Mint, rgba(0, 199, 190, 1));
  margin: 10px auto 0;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 35%;
  z-index: -5;
}

.fees p {
  padding: 30px;
  line-height: 1.5em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.fees div {
  width: 80%;
  margin: 0 auto;
}

.fees div img {
  width: 100%;
}

#footer {
  background: rgba(9, 21, 71, 1);
  /* padding: 30px; */
  width: 100%;
}

#footer .top {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-top: 40px;
}

.benefit h4 {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.5rem;
}

.benefit ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-left: 2rem;
}

.benefit li {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2;
}

.leftt {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1.2rem;
  padding-left: 4rem;
}
.leftt h3 {
  font-weight: 800;
}

.framee {
  background: linear-gradient(91.82deg, #091547 1.54%, #1633ad 94.59%);
  padding: 50px;
  text-align: center;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.framee p span {
  color: rgba(31, 191, 184, 1);
}

.framee p {
  color: white;
  font-weight: 600;
  line-height: 1.5;
}

.framee h3 {
  color: white;
  margin-bottom: 10px;
}

.framee button {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 15%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background: rgba(68, 201, 196, 1);
  border-radius: 10px;
}

footer {
  background: linear-gradient(180deg, #07114d 45.55%, #1028b3 100%);
  width: 100%;
  padding: 20px;
}

footer hr {
  margin-top: 10px;
}

.sub {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub span {
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub span h4 {
  color: white;
  font-size: 1.3rem;
}

.sub span small {
  font-size: 1rem;
}

form {
  display: flex;
  align-items: center;
  position: relative;
  width: 25%;
  margin-right: 80px;
}

form input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

form button {
  position: absolute;
  padding: 10px;
  right: 0;
  border-radius: 5px;
  border: none;
  background: var(
    --Miscellaneous-Sidebar-Text---Selected,
    rgba(0, 122, 255, 1)
  );
  cursor: pointer;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials img {
  width: 25%;
}

.le {
  width: 45%;
  margin-left: 50px;
}

.le img {
  width: 100%;
}
.r {
  width: 50%;
}

.down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.r {
  margin-left: 90px;
  padding-left: 30px;
}

.r ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r ul li {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.r ul li i {
  color: rgba(255, 255, 255, 0.7);
}

.copy p {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  /* padding-bottom: 15px; */
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }
  .burger {
    display: none;
  }

  .main {
    display: flex;
  }

  .trans {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 50px;
    width: 70%;
  }

  .start a {
    width: 100%;
  }

  .main h2 {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }

  .cloud {
    color: rgba(70, 186, 205, 1);
    font-weight: 700;
    font-size: 30px;
  }

  .start {
    padding: 10px, 0 0;
  }

  .about {
    width: 100%;
    padding: 0;
  }

  .about p {
    width: 100%;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-gap: 20px;
    padding: 1rem;
  }

  .reasons div {
    width: 100%;
  }

  .reasons div img {
    /* margin-left: 10px; */
  }
  .co {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .left {
    width: 100%;
  }

  .left img {
    width: 100%;
    margin-top: 3rem;
  }

  .right {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .course {
    display: flex;
    width: 100%;
  }

  .line {
    width: 100%;
  }

  .niche {
    width: 100%;
  }

  .front-end {
    width: 47%;
    margin: auto;
  }

  .frame {
    display: none;
  }

  #courses h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  #courses {
    padding: 0px;
  }
  #courses h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: -5;
  }

  .cover {
    width: 100%;
    display: flex;
  }

  .cover div {
    width: 100%;
  }

  .learning h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 40%;
    /* z-index: -5; */
  }

  .pro h1 {
    font-size: 1.1rem;
  }

  .pro img {
    width: 50px;
  }

  .process {
    display: flex;
    padding-left: 0;
  }

  .list {
    width: 100%;
    padding: 5px;
  }
  .girl {
    width: 100%;
  }

  .types {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .fees {
    display: flex;
    gap: 20px;
    padding-left: 0;
  }
  .fees h1 {
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .fees h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: -5;
  }

  .fees div {
    width: 100%;
  }

  .fees p {
    line-height: 1.5em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    margin-top: -30px;
  }

  #footer .top {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    gap: 20px;
  }

  .benefit h4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit li {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 2;
  }

  .leftt {
    padding-left: 0;
  }

  .framee {
    background: linear-gradient(91.82deg, #091547 1.54%, #1633ad 94.59%);
    padding: 20px 10px;
    text-align: center;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .framee button {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background: rgba(68, 201, 196, 1);
    border-radius: 10px;
  }

  .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .sub span,
  .sub form,
  .sub socials {
    width: 100%;
  }

  .le {
    margin-left: 0;
  }

  .r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    margin-left: auto;
  }

  .down {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (max-width: 620px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .trans {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 50px;
    width: 70%;
  }

  .start a {
    width: 100%;
  }

  .main h2 {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }

  .cloud {
    color: rgba(70, 186, 205, 1);
    font-weight: 700;
    font-size: 30px;
  }

  .start {
    padding: 10px, 0 0;
  }

  .about {
    width: 100%;
    padding: 0;
  }

  .about p {
    width: 100%;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 1rem;
  }

  .reasons div {
    width: 100%;
    padding: 0 10px 10px;
    align-items: center;
  }

  /* .reasons div img {
    align-items: center;
  } */
  .co {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .left {
    width: 100%;
  }

  .left img {
    width: 100%;
    margin-top: 3rem;
  }

  .right {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .course {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .line {
    width: 100%;
  }

  .niche {
    width: 100%;
  }

  .front-end {
    width: 100%;
  }

  .frame {
    display: none;
  }

  #courses h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  #courses {
    padding: 0px;
  }
  #courses h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: -5;
  }

  .cover {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cover div {
    width: 100%;
  }

  .learning h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 35%;
    /* z-index: -5; */
  }

  .pro h1 {
    font-size: 1.1rem;
  }

  .pro img {
    width: 50px;
  }

  .process {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .list {
    width: 100%;
    padding: 5px;
  }
  .girl {
    width: 100%;
  }

  .types {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .fees {
    display: flex;
    gap: 20px;
    padding-left: 0;
  }
  .fees h1 {
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .fees h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: -5;
  }

  .fees div {
    width: 100%;
  }

  .fees p {
    line-height: 1.5em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    margin-top: -30px;
  }

  #footer .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    gap: 20px;
  }

  .benefit h4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit li {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 2;
  }

  .leftt {
    padding-left: 0;
  }

  .framee {
    background: linear-gradient(91.82deg, #091547 1.54%, #1633ad 94.59%);
    padding: 20px 10px;
    text-align: center;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .framee button {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background: rgba(68, 201, 196, 1);
    border-radius: 10px;
  }

  .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .sub span,
  .sub form,
  .sub socials {
    width: 100%;
  }

  .le {
    margin-left: 0;
  }

  .r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    margin-left: auto;
  }

  .down {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}
/* 
@media (max-width: 320px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .trans {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 50px;
    width: 70%;
  }

  .start a {
    width: 100%;
  }

  .main h2 {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }

  .cloud {
    color: rgba(70, 186, 205, 1);
    font-weight: 700;
    font-size: 30px;
  }

  .start {
    padding: 10px, 0 0;
  }

  .about {
    width: 100%;
    padding: 0;
  }

  .about p {
    width: 100%;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 1rem;
  }

  .reasons div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reasons div img {
    align-items: center;
  }
  .co {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .left {
    width: 100%;
  }

  .left img {
    width: 100%;
    margin-top: 3rem;
  }

  .right {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .course {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .line {
    width: 100%;
  }

  .niche {
    width: 100%;
  }

  .front-end {
    width: 100%;
  }

  .frame {
    display: none;
  }

  #courses h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  #courses {
    padding: 0px;
  }
  #courses h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: -5;
  }

  .cover {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cover div {
    width: 100%;
  }

  .learning h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 25%;
  }

  .pro h1 {
    font-size: 1.1rem;
  }

  .pro img {
    width: 50px;
  }

  .process {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .list {
    width: 100%;
    padding: 5px;
  }
  .girl {
    width: 100%;
  }

  .types {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .fees {
    display: flex;
    gap: 20px;
    padding-left: 0;
  }
  .fees h1 {
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .fees h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: var(--Colors-Mint, rgba(0, 199, 190, 1));
    margin: 10px auto 0;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 15%;
    z-index: -5;
  }

  .fees div {
    width: 100%;
  }

  .fees p {
    line-height: 1.5em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 0.7rem;
    width: 100%;
    margin-top: -30px;
  }

  #footer .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    gap: 20px;
  }

  .benefit h4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefit li {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 2;
  }

  .leftt {
    padding-left: 0;
  }

  .framee {
    background: linear-gradient(91.82deg, #091547 1.54%, #1633ad 94.59%);
    padding: 20px 10px;
    text-align: center;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .framee button {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background: rgba(68, 201, 196, 1);
    border-radius: 10px;
  }

  .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .sub span,
  .sub form,
  .sub socials {
    width: 100%;
  }

  .le {
    margin-left: 0;
  }

  .r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    margin-left: auto;
  }

  .down {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
} */
